<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Manager</td>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>
    <% end %>
    <td>Added records: <%= @added_records%></td>
    <td>Existing records: <%= @existing_records%></td>

  </tbody>
</table>